<!DOCTYPE html>
<html class="container-fluid">
<head>
	<meta charset="utf-8" />
	<title>登录 - Awesome Python Webapp</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/awesome.js"></script>
    <script src="../static/js/sha1.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/awsome.css" rel="stylesheet">
 	<script>
 	$(function() {
    var vmAuth = new Vue({
        el: '#vm',
        data: {
            email: '',
            passwd: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var
                    $form = $('#vm'),
                    email = this.email.trim().toLowerCase(),
                    data = {
                        email: email,
                        passwd: this.passwd==='' ? '' : CryptoJS.SHA1(email + ':' + this.passwd).toString()
                    };
                $form.postJSON('/api/authenticate', data, function(err, result) {
                    if (! err) {
                        location.assign('/');
                    }
                });
            }
        }
    });
});
 	</script>


 </head>
<body>


<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>